<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Our products range</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<div class="header-lite">
			<a href="/"><img src="/static/img/logo.png" alt="logo" class="logo"></a>

			<div class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/products/">Product</a></li>
					<li><a href="#">History</a></li>
					<li><a href="/products/">Showroom</a></li>
					<li><a href="/contacts/">Contact</a></li>
					<li><a href="#" class="search"><img src="/static/img/search.png" alt="Search"></a></li>
				</ul>	
			</div>

			<h1>Our products range</h1>

		</div>

		<div class="all-products">
			<div class="prod-menu">
				<ul>
					<li id="underscore"><a href="#">All</a></li>
					<li id="underscore"><a href="#">Home</a></li>
					<li id="underscore"><a href="#">Office</a></li>
					<li><a href="#">Furniture</a></li>
					<li><a href="#">Modern</a></li>
					<li><a href="#">Classic</a></li>
				</ul>
			</div>
			<div class="prod-link">
				<a href="/product-deails/"><img src="/static/img/product-11.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-21.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-31.png" alt="" class="end-img"></a>
				<a href="/product-deails/"><img src="/static/img/product-41.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-5.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-6.png" alt="" class="end-img"></a>
				<a href="/product-deails/"><img src="/static/img/product-11.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-21.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-31.png" alt="" class="end-img"></a>
				<a href="/product-deails/"><img src="/static/img/product-41.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-5.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-6.png" alt="" class="end-img"></a>
			</div>

			<div class="reload">
				<img src="/static/img/reload.svg" alt="">
			</div>

		</div>

		<div class="promo-product">
			<div class="promo-content-1">
				<div class="text-block">
					<h3>Exclusive</h3>
					<h1>Fishnet&nbsp;Chair</h1>
					<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in 	matt</p>
					<a href="/product-deails/">Order us</a>
				</div>
			</div>
			<div class="promo-content-2">
				<div class="text-block">
					<h3>Exclusive</h3>
					<h1>Fishnet&nbsp;Chair</h1>
					<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in 	matt</p>
					<a href="/product-deails/">Order us</a>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="contact">
				<h3>Contact Us</h3>
				<p>132A Bridge Road Richmond VIC Australia. <br><br> Talk to us on 1300 132 <br> info@interior.com</p>
			</div>
			<div class="info">
				<h3>Useful information</h3>
				<ul>
					<li><a href="#">Sales term</a></li>
					<li><a href="#">Customer care</a></li>
					<li><a href="#">Delivery</a></li>
				</ul>
				<ul class="end-list">
					<li><a href="#">Architet accounts</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Exchanges &amp; Returns</a></li>
				</ul>
			</div>
			<div class="subscribe">
				<h3>Let's stay in touch!</h3>
				<p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
				<input type="text" placeholder="your email adress">
			</div>

			<div class="copyright">
				<div class="copyright-links">
					<p>&copy; Copyright - Interior 2016, All rights reserved.</p>
				</div>
				<div class="soc-btn">
					<a href="#"><img src="/static/img/facebook.svg" alt=""></a>
					<a href="#"><img src="/static/img/twitter.svg" alt=""></a>
					<a href="#"><img src="/static/img/google.svg" alt=""></a>
					<a href="#"><img src="/static/img/pinterest.svg" alt=""></a>
				</div>
				<div class="copyright-info">
					<p>Terms &amp; Conditions / Privacy Policy &amp; Coocies</p>
				</div>
			</div>

		</div>

	</div>
	
</body>
</html>