<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Shop Interior - Geekbrains</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<div class="container">

		<div class="header">

			<a href="/"><img src="/static/img/logo.png" alt="logo" class="logo"></a>

			<div class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/products/">Product</a></li>
					<li><a href="#">History</a></li>
					<li><a href="/products/">Showroom</a></li>
					<li><a href="/contacts/">Contact</a></li>
					<li><a href="#" class="search"><img src="/static/img/search.png" alt="Search"></a></li>
				</ul>	
			</div>

			<div class="header-text">
				<h3>Trending</h3>
				<h1>Fishnet&nbsp;Chair</h1>
				<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
				<a href="/product-deails/">Order us</a>
			</div>

			<div class="sld-btn">
			    <a href="#" class="slider"></a>
			    <a href="#" class="slider"></a>
			    <a href="#" class="slider"></a>
			</div>

		</div>

		<div class="futured-product">
			<div class="tab-controll">
				<ul>
					<li><a href="#" class="modern">Featured</a></li>
					<li><a href="#">New</a></li>
				</ul>
			</div>
			
			<a href="/products/" class="explore">Explore all &nbsp;<img src="/static/img/arrow.png" alt="" class="arrow"></a>

			<div class="prod_cont">
				<div class="prod_01">
					<div class="product">
						<a href="/product-deails/"><img src="/static/img/arrow.png" alt=""></a>
						<h3>Fishnet Chair</h3>
						<p>Seat and back with upholstery made of coldcure foam</p>
					</div>
				</div>
				<div class="prod_02">
					<div class="product">
						<a href="/product-deails/"><img src="/static/img/arrow.png" alt=""></a>
						<h3>Fishnet Chair</h3>
						<p>Seat and back with upholstery made of coldcure foam</p>
					</div>
				</div>
				<div class="prod_03">
					<div class="product">
						<a href="/product-deails/"><img src="/static/img/arrow.png" alt=""></a>
						<h3>Fishnet Chair</h3>
						<p>Seat and back with upholstery made of coldcure foam</p>
					</div>
				</div>
				<div class="prod_04">
					<div class="product">
						<a href="/product-deails/"><img src="/static/img/arrow.png" alt=""></a>
						<h3>Fishnet Chair</h3>
						<p>Seat and back with upholstery made of coldcure foam</p>
					</div>
				</div>
			</div>

		</div>

		<div class="promo-product">
			<div class="promo-content-1">
				<div class="text-block">
					<h3>Trending</h3>
					<h1>Fishnet&nbsp;Chair</h1>
					<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in 	matt</p>
					<a href="/product-deails/">Order us</a>
				</div>
			</div>
			<div class="promo-content-2">
				<div class="text-block">
					<h3>Trending</h3>
					<h1>Fishnet&nbsp;Chair</h1>
					<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in 	matt</p>
					<a href="/product-deails/">Order us</a>
				</div>
			</div>
		</div>

		<div class="trending-product">
			<div class="tp-title">
				<h3>Tranding Products</h3>
			</div>

			<a href="/products/" class="explore">Explore all &nbsp;<img src="/static/img/arrow.png" alt="" class="arrow"></a>

			<div class="tp-prod">
				<a href="/product-deails/"><img src="/static/img/product-11.png" alt="" class="end-img"></a>
				<a href="/product-deails/"><img src="/static/img/product-21.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-31.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-41.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-5.png" alt=""></a>
				<a href="/product-deails/"><img src="/static/img/product-6.png" alt="" class="end-img"></a>
			</div>

		</div>

		<div class="clr-layer"></div>

		<div class="hot-deals">
			<div class="hot-text">
				<h3>Trending</h3>
				<h1>Fishnet&nbsp;Chair</h1>
				<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
				<a href="/product-deails/">Order us</a>
			</div>
			<div class="sld-btn-2">
			    <a href="#" class="slider"></a>
			    <a href="#" class="slider"></a>
			    <a href="#" class="slider"></a>
			</div>
		</div>

		<div class="exclusive-product">
			<div class="first-exclusive">
				<div class="exclusive-txt">
					<h3>Trending</h3>
					<h1>Fishnet&nbsp;Chair</h1>
					<p>Seat and back with upholstery made of cold cure foam. Steel frame, available in 	matt</p>
					<a href="/product-deails/">Order us</a>
				</div>
			</div>
			<a href="/product-deails/"><img src="/static/img/product-2-sm.png" alt=""></a>
			<a href="/product-deails/"><img src="/static/img/product-3-sm.png" alt=""></a>
			<a href="/product-deails/"><img src="/static/img/product-4-sm.png" alt=""></a>
			<a href="/product-deails/"><img src="/static/img/product-5-sm.png" alt=""></a>
		</div>

		<div class="mobile-app">
			<div class="mob-app-text">
				<h3>Mobile App</h3>
				<h1>Find. Follow. Favorite.</h1>
				<p>Save your favorites and share your style.</p>
				<a href="#"><img src="/static/img/app-store.png" alt=""></a>
				<a href="#"><img src="/static/img/google-play.png" alt=""></a>
			</div>
		</div>

		<div class="footer">
			<div class="contact">
				<h3>Contact Us</h3>
				<p>132A Bridge Road Richmond VIC Australia. <br><br> Talk to us on 1300 132 <br> info@interior.com</p>
			</div>
			<div class="info">
				<h3>Useful information</h3>
				<ul>
					<li><a href="#">Sales term</a></li>
					<li><a href="#">Customer care</a></li>
					<li><a href="#">Delivery</a></li>
				</ul>
				<ul class="end-list">
					<li><a href="#">Architet accounts</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Exchanges &amp; Returns</a></li>
				</ul>
			</div>
			<div class="subscribe">
				<h3>Let's stay in touch!</h3>
				<p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
				<input type="text" placeholder="your email adress">
			</div>

			<div class="copyright">
				<div class="copyright-links">
					<p>&copy; Copyright - Interior 2016, All rights reserved.</p>
				</div>
				<div class="soc-btn">
					<a href="#"><img src="/static/img/facebook.svg" alt=""></a>
					<a href="#"><img src="/static/img/twitter.svg" alt=""></a>
					<a href="#"><img src="/static/img/google.svg" alt=""></a>
					<a href="#"><img src="/static/img/pinterest.svg" alt=""></a>
				</div>
				<div class="copyright-info">
					<p>Terms &amp; Conditions / Privacy Policy &amp; Coocies</p>
				</div>
			</div>

		</div>

	</div>

</body>
</html>