<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Product Deails</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="navbar">
			<a href="/"><img src="img/logo.png" alt="logo" class="logo"></a>

			<div class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/products/">Product</a></li>
					<li><a href="#">History</a></li>
					<li><a href="/products/">Showroom</a></li>
					<li><a href="/contacts/">Contact</a></li>
					<li><a href="#" class="search"><img src="img/search.png" alt="Search"></a></li>
				</ul>	
			</div>
		</div>

		<div class="menu-link">
			<div class="prod-menu">
				<ul>
					<li><a href="#">All</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Office</a></li>
					<li><a href="#">Furniture</a></li>
					<li><a href="#">Modern</a></li>
					<li><a href="#">Classic</a></li>
				</ul>
			</div>
		</div>

		<div class="prod-deails">
			<div class="img-deails">
				<a href="img/slider1.png" target="_blank"><img src="img/slider1.png" alt=""></a>
				<div class="controll">
					<a href="#"><img src="img/controll.png" alt="" class="active"></a>
					<a href="#"><img src="img/controll11.png" alt="" class="active"></a>
					<a href="#"><img src="img/controll2.png" alt=""></a>
				</div>
			</div>
			<div class="txt-deails">
				<h2>Fishnet&nbsp;Chair</h2>
				<h3>Hot deal</h3>
				<p class="price">$ <span>36.7</span>/sq</p>
				<a href="#">Order us</a>
				<p class="full-txt">The majesty of Mountains - Ugmonk style. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, cumque. <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores sint maxime adipisci laborum modi. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
			</div>
		</div>

		<div class="clr-layer-120"></div>

		<div class="trending-product">
			<div class="tp-title">
				<h3>Tranding Products</h3>
			</div>

			<a href="/products/" class="explore">Explore all &nbsp;<img src="img/arrow.png" alt="" class="arrow"></a>

			<div class="tp-prod">
				<a href="/product-deails/"><img src="img/product-41.png" alt=""></a>
				<a href="/product-deails/"><img src="img/product-5.png" alt=""></a>
				<a href="/product-deails/"><img src="img/product-6.png" alt="" class="end-img"></a>
			</div>

		</div>

		<div class="clr-layer-120"></div>

		<div class="footer">
			<div class="contact">
				<h3>Contact Us</h3>
				<p>132A Bridge Road Richmond VIC Australia. <br><br> Talk to us on 1300 132 <br> info@interior.com</p>
			</div>
			<div class="info">
				<h3>Useful information</h3>
				<ul>
					<li><a href="#">Sales term</a></li>
					<li><a href="#">Customer care</a></li>
					<li><a href="#">Delivery</a></li>
				</ul>
				<ul class="end-list">
					<li><a href="#">Architet accounts</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Exchanges &amp; Returns</a></li>
				</ul>
			</div>
			<div class="subscribe">
				<h3>Let's stay in touch!</h3>
				<p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
				<input type="text" placeholder="your email adress">
			</div>

			<div class="copyright">
				<div class="copyright-links">
					<p>&copy; Copyright - Interior 2016, All rights reserved.</p>
				</div>
				<div class="soc-btn">
					<a href="#"><img src="img/facebook.svg" alt=""></a>
					<a href="#"><img src="img/twitter.svg" alt=""></a>
					<a href="#"><img src="img/google.svg" alt=""></a>
					<a href="#"><img src="img/pinterest.svg" alt=""></a>
				</div>
				<div class="copyright-info">
					<p>Terms &amp; Conditions / Privacy Policy &amp; Coocies</p>
				</div>
			</div>

		</div>

	</div>
	
</body>
</html>